<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        .is-invalid~.invalid-feedback {

        }
    </style>
</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-9">
            <form th:object="${recipe}" th:action="@{/recipe/}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    Please Correct Errors Below
                </div>

                <input type="hidden" th:field="*{id}"/>
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Recipe Information</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="desc-field" class="form-label">Description:</label>
                                <input id="desc-field" type="text" th:class="${#fields.hasErrors('description')}
                                ? 'form-control form-control-lg is-invalid' : 'form-control form-control-lg'"
                                       th:field="*{description}"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-md-3">-->
                        <!--                                    <label>Categories:</label>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-md-9">-->
                        <!--                                    <div class="radio" th:remove="all">-->
                        <!--                                        <label>-->
                        <!--                                            <input type="checkbox" value=""/>-->
                        <!--                                            Cat 1-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="radio" th:remove="all">-->
                        <!--                                        <label>-->
                        <!--                                            <input type="checkbox" value=""/>-->
                        <!--                                            Cat 2-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="prep-field" class="form-label">Prep Time:</label>
                                <div class="input-group has-validation">
                                    <input id="prep-field" type="text" th:class="${#fields.hasErrors('prepTime')}
                                ? 'form-control is-invalid' : 'form-control'" th:field="*{prepTime}"
                                           aria-describedby="invalidPrepTime basic-addon2"/>
                                    <span class="input-group-text" id="basic-addon2">min</span>
                                    <div id="invalidPrepTime" class="invalid-feedback" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="cook-field" class="form-label">Cook Time:</label>
                                <div class="input-group has-validation">
                                    <input id="cook-field" type="text" th:class="${#fields.hasErrors('cookTime')}
                                ? 'form-control is-invalid' : 'form-control'" th:field="*{cookTime}"
                                           aria-describedby="invalidCookTime basic-addon3"/>
                                    <span class="input-group-text" id="basic-addon3">min</span>
                                    <div id="invalidCookTime" class="invalid-feedback" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="dif-field" class="form-label">Difficulty:</label>
                                <select id="dif-field" class="form-select" th:field="*{difficulty}">
                                    <option th:each="v : ${T(guru.springframework.domain.Difficulty).values()}"
                                            th:value="${v.name()}"
                                            th:text="${#strings.capitalize(#strings.toLowerCase(v.name()))}">v
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="ser-field" class="form-label">Servings:</label>
                                <input id="ser-field" type="text" th:class="${#fields.hasErrors('servings')}
                                ? 'form-control is-invalid' : 'form-control'" th:field="*{servings}" aria-describedby="invalidServings"/>
                                <div id="invalidServings" class="invalid-feedback" th:if="${#fields.hasErrors('servings')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="sou-field" class="form-label">Source:</label>
                                <input id="sou-field" type="text" class="form-control" th:field="*{source}"/>
                            </div>
                            <div class="col-md-9">
                                <label for="url-field" class="form-label">URL:</label>
                                <input id="url-field" type="text" th:field="*{url}" th:class="${#fields.hasErrors('url')}
                                    ? 'form-control is-invalid' : 'form-control'"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md">
                                <label for="dir-field" class="form-label">Directions</label>
                                <textarea th:field="*{directions}" th:class="${#fields.hasErrors('directions')}
                                ? 'form-control is-invalid' : 'form-control'" id="dir-field"
                                          rows="5"></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('directions')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('directions')}" th:text="${err}"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md">
                                <label for="not-field" class="form-label">Notes</label>
                                <textarea th:field="*{notes.recipeNotes}" class="form-control" id="not-field"
                                          rows="5"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary float-end">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="panel panel-primary">-->
                <!--                    <div class="panel-heading">-->
                <!--                        <div class="row">-->
                <!--                            <div class="col-md-11 ">-->
                <!--                                <h1 class="panel-title">Ingredients</h1>-->
                <!--                            </div>-->
                <!--                            <div class="col-md-1">-->
                <!--                                <a class="btn btn-default" href="#" role="button">Edit</a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="panel-body">-->
                <!--                        <div class="row">-->
                <!--                            <div class="col-md-12">-->
                <!--                                <ul>-->
                <!--                                    <li th:remove="all">1 Cup of milk</li>-->
                <!--                                    <li th:remove="all">1 Teaspoon of chocolate</li>-->
                <!--                                    <li th:each="ingredient : ${recipe.ingredients}"-->
                <!--                                        th:text="${(ingredient.getAmount() +-->
                <!--                                        ' ' + ingredient.uom.getDescription() +-->
                <!--                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar-->
                <!--                                    </li>-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </form>
        </div>
    </div>
</div>
</body>
</html>