<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h3>Upload a photo</h3>
                </div>
                <div class="card-body">
                    <form action="http://localhost" method="post" enctype="multipart/form-data" th:action="@{'/recipe/' + ${recipe.getId()} + '/image'}">
                        <div class="row align-items-end">
                            <div class="col-md-9">
                                <label for="image" class="form-label">Select file</label>
                                <input class="form-control" type="file" id="image" name="image">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary px-4 fw-bold">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>